﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.example input[type=text] {
    display: block;
    width: 80%;
    padding: 8px;
    font-size: 14px;
    float: left;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.example button {
    float: left;
    width: 7%;
    padding: 8px;
    background: #337ab7;
    color: white;
    font-size: 13px;
    border-color: #2e6da4;
    border-left: none;
    cursor: pointer;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

.container > span {
    font-weight: bold;
}
