﻿@model ChiquePiggy.MVC.ViewModels.HomeViewModel

<div>
    <h3>Consultar cliente</h3>
    @using(Html.BeginForm("Consulta", "Home",FormMethod.Post))
    {
        <div class="example">
            @Html.TextBoxFor(c => c.BuscadorViewModel.Cpf, new { @onkeydown = "Mascara( this, MascaraCpf )", @class = "form-control", @id = "cpf", @placeholder = "Digite o CPF do cliente...", @pattern = ".{14,}", @maxlength = "14" })
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    }

    @if (Model.ConsultaViewModel.Consulta && Model.ConsultaViewModel.Cliente != null)
    {
        using(Html.BeginForm("Resgate", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.ConsultaViewModel.Cliente.Nome)
                @Html.TextBoxFor(c => c.ConsultaViewModel.Cliente.Nome, new {@disabled = "@disabled", @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ConsultaViewModel.Cliente.Email)
                @Html.TextBoxFor(c => c.ConsultaViewModel.Cliente.Email, new { @disabled = "@disabled", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ConsultaViewModel.Cliente.Cpf)
                @Html.TextBoxFor(c => c.ConsultaViewModel.Cliente.Cpf, new { @disabled = "@disabled", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ConsultaViewModel.Cliente.Ativo)
                @Html.TextBoxFor(c => c.ConsultaViewModel.Cliente.Ativo, new { Value =(Model.ConsultaViewModel.Cliente.Ativo ? "Ativo" : "Inativo") ,@disabled = "@disabled", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ConsultaViewModel.Cliente.Pontos)
                @Html.TextBoxFor(c => c.ConsultaViewModel.Cliente.Pontos, new { @disabled = "@disabled", @class = "form-control" })
            </div>

            if (Model.ConsultaViewModel.Cliente.Pontos >= 100)
            {
                <button type="submit" class="btn btn-primary">Resgatar premio</button>
            }
        }
    }
</div>
