﻿@model ChiquePiggy.MVC.ViewModels.HomeViewModel

<div>
    <h3>Cadastro</h3>
    @using(Html.BeginForm("Cadastro", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(c => c.ClienteViewModel.Nome)
            @Html.TextBoxFor(c => c.ClienteViewModel.Nome, new { @class = "form-control",@name = "Nome", @id = "nome", @placeholder = "Digite o nome do cliente..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.ClienteViewModel.Email)
            @Html.TextBoxFor(c => c.ClienteViewModel.Email, new { @class = "form-control", @id = "email", @placeholder = "Digite email do cliente..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.ClienteViewModel.Cpf)
            @Html.TextBoxFor(c => c.ClienteViewModel.Cpf, new { @onkeydown = "Mascara( this, MascaraCpf )", @class = "form-control", @id = "cpf", @placeholder = "Digite o CPF do cliente...", @pattern = ".{14,}", @maxlength = "14" })
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    }
</div>

