﻿@model ChiquePiggy.MVC.ViewModels.HomeViewModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mensagem do sistema</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @if (Model.Erros != null)
            {
                foreach (var erro in Model.Erros)
                {
                    <p>@erro</p>
                }
            }

            @if (Model.CompraViewModel.Compra && Model.CompraViewModel.Erros.Count == 0)
            {
                <p>Compra realizada com sucesso.</p>
            }

            @if (Model.CadastroViewModel.Cadastro && Model.CadastroViewModel.Erros.Count == 0)
            {
                <p>Cadastro de cliente realizado com sucesso.</p>
            }

            @if (Model.CompraViewModel.Premio)
            {
                <h4>Parabéns você atingiu a pontuação de resgate!!!</h4>
            }
            @if (Model.PremioViewModel.Premio)
            {
                <h4>Parabéns seu premio foi resgatado com sucesso.</h4>
            }

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

