﻿@model ChiquePiggy.MVC.ViewModels.HomeViewModel

<div class="container">
    <h2>Chique <span>Piggy</span></h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" id="BtnHome" href="#home">Caixa</a></li>
        <li><a data-toggle="tab" id="BtnMenu1" href="#menu1">Consultar cliente</a></li>
        <li><a data-toggle="tab" id="BtnMenu2" href="#menu2">Cadastro de cliente</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Caixa</h3>
            @using (Html.BeginForm("Compra", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(c => c.CaixaViewModel.Cpf)
                    @Html.TextBoxFor(c => c.CaixaViewModel.Cpf, new { @onkeydown = "Mascara( this, MascaraCpf )", @class = "form-control", @id = "cpf", @placeholder = "Digite o CPF do cliente...", @pattern = ".{14,}", @maxlength = "14" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.CaixaViewModel.Valor)
                    @Html.TextBoxFor(c => c.CaixaViewModel.Valor, new { @onkeydown = "Mascara( this, MascaraMoeda )", @class = "form-control", @id = "valor", @placeholder = "Digite valor da compra...", @maxlength = "9" })
                </div>
                <button type="submit" class="btn btn-primary">Finalizar compra</button>
            }
        </div>

        <div id="menu1" class="tab-pane fade">
            @Html.Partial("_Buscador", Model)
        </div>

        <div id="menu2" class="tab-pane fade">
            @Html.Partial("_Cadastro", Model)
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @Html.Partial("_Modal", Model)
    </div>

    @if (Model.Modal && Model.CadastroViewModel.Cadastro)
    {
        <script type='text/javascript'>
            $(document).ready(function () {
                document.getElementById("BtnMenu2").click();
                $("#exampleModal").modal();
            });
        </script>
    }

    @if (Model.Modal && Model.CompraViewModel.Compra)
    {
        <script type='text/javascript'>
            $(document).ready(function () {
                document.getElementById("BtnHome").click();
                $("#exampleModal").modal();
            });
        </script>
    }

    @if (Model.Modal && Model.ConsultaViewModel.Cliente != null && !Model.CompraViewModel.Compra && !Model.PremioViewModel.Premio && !Model.CadastroViewModel.Cadastro)
    {
        <script type='text/javascript'>
            $(document).ready(function () {
                document.getElementById("BtnMenu1").click();
            });
        </script>
    }
    @if (Model.Modal && Model.ConsultaViewModel.Cliente == null && !Model.CompraViewModel.Compra && !Model.PremioViewModel.Premio && !Model.CadastroViewModel.Cadastro)
    {
        <script type='text/javascript'>
            $(document).ready(function () {
                document.getElementById("BtnMenu1").click();
                $("#exampleModal").modal();
            });
        </script>
    }


    @if (Model.Modal && Model.PremioViewModel.Ganhador != null && Model.PremioViewModel.Premio)
    {
        <script type='text/javascript'>
            $(document).ready(function () {
                document.getElementById("BtnMenu1").click();
                $("#exampleModal").modal();
            });
        </script>
    }
</div>
